*.cmi
*.cmo
tbag_compiler/parser.ml
tbag_compiler/parser.mli
tbag_compiler/scanner.ml
tbag_compiler/tbaginterpreter.ml
scanner
*.java
*.class
tbag
*.swp
*.log
*.diff
.DS_Store
Julie\'s\ scripts\ for\ generating\ tbag\ code/ 
